.videocard{

    color: whitesmoke;
    width: 350px;
    height: 300px;
    padding: 20px;
}

.videocard >p{
    font-size: 11px;
}


.videocard:hover > .videocard-stats{
    display: inline;
    display: flex;
    font-size: small;
}

.videocard >img{
    width: 350px;
    height: 210px;
    object-fit: contain;
}

.videocard-stats{
    display: none;
}

.videocard-stats >div{
    margin: 10px;
    align-items: center;
}

.videocard >h2{
    padding-top: 10px;
    font-size: 21px;
}
